fieldset {
    margin: 0 5px;
    padding: 0 5px;
    border: 0;
}

label {
    display: inline-block;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    min-width: 150px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    font-family: 'Lato', sans-serif;
}

button {
    width:10%;
    align-self:auto;
    padding: 15px;
    margin: 10px;
    border-radius: 7px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 14px;
    background-color: #333;
    color: #fff;
}
